.aboutus-container {
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Times New Roman ', Times, serif;
}


.aboutus-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.aboutus-header p {
    font-size: 1.2em;
    color: #105d55;
    text-align: center; /* Center the text within the header */
}

.aboutus-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutus-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: fadeInUp 1s ease-out;
}

.aboutus-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.aboutus-image:hover {
    transform: scale(1.05);
}

.aboutus-text {
    max-width: 600px;
}

.aboutus-text h2 {
    font-size: 2em;
    color: #74AB4E;
}

.aboutus-text p {
    font-size: 1em;
    color: #555;
}

.aboutus-team {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aboutus-team:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.aboutus-team h2 {
    font-size: 2.5em;
    color: #74AB4E;
    margin-bottom: 50px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team-member {
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 5px;
}

.team-member p {
    margin-top: -15px;
    font-size: 1em;
    color: #777;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}