.dashboard-container {
    padding: 20px;
  display: flex;
  height: 70vh;
}

.map-container {
  flex: 3;
  height: 100%;
  position: relative;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f4f4f9;
}

.info-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it stays on top */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

.legend-color.device {
  background-color: blue; /* Color for devices */
}

.legend-color.subscription {
  background-color: green; /* Color for subscriptions */
}
